{
  "openapi": "3.1.0",
  "info": {
    "title": "Closedloop API",
    "description": "REST API for the Closedloop human-governed, AI-centric software delivery platform. Use this API to manage projects, workstreams, documents, artifacts, and comment threads. All requests require a Bearer API key with the prefix `sk_live_`.",
    "version": "1.0.0",
    "contact": {
      "name": "Closedloop Support",
      "url": "https://closedloop.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.closedloop.ai",
      "description": "Closedloop production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Documents",
      "description": "Typed artifacts — PRDs, Implementation Plans, Features, Templates, and evergreen Docs — and the operations to list, create, retrieve, update, and delete them."
    },
    {
      "name": "Comment Threads",
      "description": "Review threads attached to documents. List existing threads on a document or start a new one."
    },
    {
      "name": "Artifact Links",
      "description": "Relationships between artifacts (for example, a Feature derived from a PRD). List and create links."
    },
    {
      "name": "Projects",
      "description": "Top-level containers for a product area or initiative. List projects or retrieve a single project by id or slug."
    },
    {
      "name": "Loops",
      "description": "ClosedLoop runs that execute an implementation plan. Launch, inspect, and cancel loops."
    },
    {
      "name": "Tags",
      "description": "Organization-defined labels applied to artifacts. List, create, retrieve, and update tags."
    },
    {
      "name": "Users",
      "description": "Members of the authenticated organization."
    },
    {
      "name": "Search",
      "description": "Cross-entity search over projects, documents, and other artifacts."
    },
    {
      "name": "Agent Sessions",
      "description": "Recorded agent work sessions surfaced by the platform."
    }
  ],
  "paths": {
    "/documents": {
      "get": {
        "operationId": "listDocuments",
        "summary": "List documents",
        "description": "Returns a list of documents visible to the authenticated organization. Documents are typed artifacts: **PRD** (Product Requirements Document — describes what to build and why), **IMPLEMENTATION_PLAN** (step-by-step technical plan for executing a PRD), **FEATURE** (a feature specification), **TEMPLATE** (a reusable document template), or **DOC** (an evergreen document). Filter by `type` to fetch only plans, by `projectId` to scope to a project, or by `assigneeId` to fetch documents assigned to a specific user.",
        "tags": ["Documents"],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter by document type. PRD = product requirements, IMPLEMENTATION_PLAN = technical implementation plan, FEATURE = feature spec, TEMPLATE = reusable template, DOC = evergreen document. The `ISSUE` alias is also accepted and is treated as `FEATURE` (the product's \"Issue\" is a rename of Feature).",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DocumentTypeInput"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Filter by project. Accepts a UUID or slug.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assigneeId",
            "in": "query",
            "description": "Filter by assignee user UUID.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Optional page size (FEA-4373). Omit to return every matching document (the default). When supplied, bounds the result to this many rows, newest first (by createdAt, then id); accepted range 1-500. Pass alongside offset to page.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Zero-based offset for paging (FEA-4373). Only valid together with limit; an offset without a limit is rejected with 400. Accepted range 0-10000.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "description": "Opt into the paged response envelope (ISS-4576). Omit (the default) to receive the bare `data` array of documents. Pass `true` to receive a `DocumentListPage` envelope under `data` instead — the page plus a real server-side `total` counted over the same filter, with `limit`, `offset`, and `hasMore`. `includeTotal=true` requires `limit`; without one it is rejected with 400 (the total-bearing read must be bounded).",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of documents. The `data` shape is selected by `includeTotal`: the bare document array by default, or a `DocumentListPage` envelope when `includeTotal=true`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "oneOf": [
                        {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Document"
                          },
                          "description": "Default response (`includeTotal` omitted): the bare array of matching documents."
                        },
                        {
                          "$ref": "#/components/schemas/DocumentListPage"
                        }
                      ],
                      "description": "A bare `Document[]` by default, or a `DocumentListPage` envelope when `includeTotal=true`."
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "doc_abc123",
                      "organizationId": "org_xyz",
                      "projectId": "proj_123",
                      "type": "PRD",
                      "title": "User Authentication PRD",
                      "slug": "PRD-42",
                      "status": "IN_REVIEW",
                      "priority": "HIGH",
                      "dueDate": "2024-02-01T00:00:00.000Z",
                      "latestVersion": 3,
                      "createdById": "user_111",
                      "assigneeId": "user_222",
                      "approverId": null,
                      "repositorySnapshot": {
                        "repositories": [
                          {
                            "fullName": "myorg/myrepo",
                            "role": "primary",
                            "position": 0
                          }
                        ],
                        "source": "project_defaults"
                      },
                      "createdAt": "2024-01-15T10:00:00Z",
                      "updatedAt": "2024-01-16T14:30:00Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createDocument",
        "summary": "Create a document",
        "description": "Requires an API key with `write` scope. Creates a new document. The `type` field determines what kind of artifact is created: **PRD** captures product requirements, **IMPLEMENTATION_PLAN** is a detailed plan typically produced from a PRD, **FEATURE** captures a feature specification, **TEMPLATE** is a reusable document template, and **DOC** is an evergreen document. The `type` field also accepts the **ISSUE** alias, which is treated as **FEATURE** (the product's \"Issue\" is a rename of Feature). Whether the document lives inside a project depends on its `type`: the project-bound subtypes (**PRD**, **IMPLEMENTATION_PLAN**, **FEATURE**, and its **ISSUE** alias) **require** a `projectId`, while the organization-level types (**DOC**, **TEMPLATE**) are created at the org level and must **omit** `projectId` \u2014 supplying one for a **DOC** or **TEMPLATE** is rejected with a 400. Provide initial `content` as a string (Markdown or plain text). The document is versioned automatically \u2014 each subsequent update creates a new version while preserving history. To link the new document to a parent PRD (for example, creating a plan that was produced by a PRD), pass the parent's ID as `sourceId`; the platform will create a PRODUCES artifact link automatically.",
        "tags": ["Documents"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "description": "Fields common to both request variants. The body must additionally match exactly one of the variants below, which fix the allowed `type` values and the `projectId` requirement based on whether the document is project-bound or organization-level.",
                    "properties": {
                      "projectId": {
                        "type": "string",
                        "description": "UUID or slug of the project this document belongs to. Conditionally required by `type`: **required** for the project-bound subtypes (**PRD**, **IMPLEMENTATION_PLAN**, **FEATURE**), and must be **omitted** for the organization-level types (**DOC**, **TEMPLATE**) — supplying it for those is rejected with a 400."
                      },
                      "sourceId": {
                        "type": "string",
                        "description": "Optional UUID or slug of an existing artifact that produced (generated) this document. Creates a PRODUCES artifact link automatically."
                      },
                      "type": {
                        "$ref": "#/components/schemas/DocumentTypeInput"
                      },
                      "title": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Title of the document."
                      },
                      "fileName": {
                        "type": "string",
                        "description": "Optional file name to associate with the document."
                      },
                      "content": {
                        "type": "string",
                        "description": "Initial document content (Markdown or plain text)."
                      },
                      "status": {
                        "description": "Initial lifecycle status. The valid vocabulary depends on `type`: a FEATURE artifact uses the Features vocabulary (`IssueStatus`: TRIAGE, BACKLOG, TODO, ...), while every other type (PRD, IMPLEMENTATION_PLAN, TEMPLATE, DOC) uses the Documents vocabulary (`DocumentStatus`: DRAFT, IN_REVIEW, ...). A status outside the target type's vocabulary is rejected.",
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/DocumentStatus"
                          },
                          {
                            "$ref": "#/components/schemas/IssueStatus"
                          }
                        ]
                      },
                      "priority": {
                        "$ref": "#/components/schemas/Priority"
                      },
                      "dueDate": {
                        "oneOf": [
                          {
                            "type": "string",
                            "format": "date"
                          },
                          {
                            "type": "string",
                            "format": "date-time"
                          }
                        ],
                        "nullable": true,
                        "description": "Optional due date for the document. Accepts a date-only value (YYYY-MM-DD) or a timezone-qualified datetime."
                      },
                      "assigneeId": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true,
                        "description": "UUID of the user to assign to this document."
                      },
                      "approverId": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true,
                        "description": "UUID of the user designated to approve this document."
                      },
                      "repositorySelection": {
                        "$ref": "#/components/schemas/DocumentRepositorySelection"
                      },
                      "inlineImages": {
                        "type": "array",
                        "maxItems": 5,
                        "description": "Optional inline images to embed in the document's initial content. Each image's `placeholder` token must appear in `content`; the server uploads the image as an attachment and rewrites the placeholder into a Markdown image reference. When supplied, the response includes `inlineImages` and the expanded `versionContent`.",
                        "items": {
                          "type": "object",
                          "required": [
                            "placeholder",
                            "filename",
                            "mimeType",
                            "dataBase64"
                          ],
                          "properties": {
                            "placeholder": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200,
                              "description": "Unique token that appears verbatim in `content` and is replaced by the uploaded image's Markdown reference."
                            },
                            "filename": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 255,
                              "description": "File name to store the attachment under."
                            },
                            "mimeType": {
                              "type": "string",
                              "enum": [
                                "image/jpeg",
                                "image/png",
                                "image/gif",
                                "image/webp"
                              ],
                              "description": "MIME type of the image. Must match the decoded `dataBase64` payload."
                            },
                            "dataBase64": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 699052,
                              "description": "Base64-encoded image bytes (max 512 KiB decoded)."
                            },
                            "altText": {
                              "type": "string",
                              "maxLength": 500,
                              "description": "Optional alternative text for the image."
                            }
                          }
                        }
                      }
                    }
                  },
                  {
                    "oneOf": [
                      {
                        "title": "Project-bound document (PRD, IMPLEMENTATION_PLAN, FEATURE)",
                        "description": "Create a document inside a project. These subtypes are project-scoped, so `projectId` is REQUIRED. Supplying an organization-level `type` here is invalid — use the organization-level variant instead.",
                        "type": "object",
                        "required": ["projectId", "type", "title", "content"],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "PRD",
                              "IMPLEMENTATION_PLAN",
                              "FEATURE",
                              "ISSUE"
                            ],
                            "description": "Project-bound document subtype. Each of these is created inside a project and therefore requires `projectId`."
                          }
                        }
                      },
                      {
                        "title": "Organization-level document (DOC, TEMPLATE)",
                        "description": "Create a document at the organization level. These types are org-scoped and must OMIT `projectId`; supplying one is rejected with a 400 (`projectId is not allowed for organization-level document types`).",
                        "type": "object",
                        "required": ["type", "title", "content"],
                        "not": {
                          "required": ["projectId"]
                        },
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": ["DOC", "TEMPLATE"],
                            "description": "Organization-level document type. Each of these is created at the org level and must omit `projectId`."
                          }
                        }
                      }
                    ]
                  }
                ]
              },
              "example": {
                "projectId": "proj_123",
                "type": "IMPLEMENTATION_PLAN",
                "title": "Auth Implementation Plan",
                "content": "## Overview\nThis plan details the steps to implement user authentication.\n\nimage-1\n\n## Steps\n1. Set up OAuth provider...",
                "sourceId": "doc_prd_456",
                "priority": "HIGH",
                "dueDate": "2024-02-01",
                "repositorySelection": {
                  "primary": {
                    "fullName": "myorg/myrepo",
                    "branch": "main"
                  },
                  "additional": [
                    {
                      "fullName": "myorg/shared-lib"
                    }
                  ]
                },
                "inlineImages": [
                  {
                    "placeholder": "image-1",
                    "filename": "architecture.png",
                    "mimeType": "image/png",
                    "dataBase64": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==",
                    "altText": "System architecture diagram"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Document"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "inlineImages": {
                              "type": "array",
                              "description": "Present only when `inlineImages` were supplied in the request. Describes each uploaded inline image and the Markdown reference that replaced its placeholder in the created content.",
                              "items": {
                                "type": "object",
                                "required": [
                                  "placeholder",
                                  "attachmentId",
                                  "attachmentRef",
                                  "markdownImage"
                                ],
                                "properties": {
                                  "placeholder": {
                                    "type": "string",
                                    "description": "The placeholder token from the request that this image replaced."
                                  },
                                  "attachmentId": {
                                    "type": "string",
                                    "description": "ID of the created attachment record."
                                  },
                                  "attachmentRef": {
                                    "type": "string",
                                    "description": "Stable reference to the attachment, prefixed with `attachment://`."
                                  },
                                  "markdownImage": {
                                    "type": "string",
                                    "description": "The Markdown image syntax that replaced the placeholder in the stored content."
                                  }
                                }
                              }
                            },
                            "versionContent": {
                              "type": "string",
                              "description": "Present only when `inlineImages` were supplied. The initial version's content after placeholders were expanded into Markdown image references."
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or referenced project/workstream not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{id}": {
      "get": {
        "operationId": "getDocument",
        "summary": "Get a document",
        "description": "Retrieves a document by its UUID. The response includes the document metadata plus the full content of the requested version via the `version` field. By default returns the latest version. Pass `?version=N` to retrieve a specific historical version (versions start at 1). The `version.content` field contains the full document text.",
        "tags": ["Documents"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Document UUID or slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Version number to retrieve. Defaults to the latest version. Must be a positive integer.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document detail with content.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Document"
                        },
                        {
                          "type": "object",
                          "required": ["version"],
                          "properties": {
                            "version": {
                              "type": "object",
                              "description": "The requested document version with its content.",
                              "required": [
                                "id",
                                "documentId",
                                "version",
                                "content",
                                "createdAt"
                              ],
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "documentId": {
                                  "type": "string"
                                },
                                "version": {
                                  "type": "integer",
                                  "description": "Version number (1-based)."
                                },
                                "content": {
                                  "type": "string",
                                  "description": "Full document content for this version."
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "doc_abc123",
                    "type": "IMPLEMENTATION_PLAN",
                    "title": "Auth Implementation Plan",
                    "status": "APPROVED",
                    "dueDate": "2024-02-01T00:00:00.000Z",
                    "latestVersion": 2,
                    "version": {
                      "id": "ver_001",
                      "documentId": "doc_abc123",
                      "version": 2,
                      "content": "## Overview\nThis plan details the steps...",
                      "createdAt": "2024-01-16T14:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Document not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateDocument",
        "summary": "Update a document",
        "description": "Requires an API key with `write` scope. Updates mutable fields on a document. All fields are optional — send only the fields you want to change. Updating `status` advances the document lifecycle (e.g., DRAFT → IN_REVIEW → APPROVED). Changing `assigneeId` sends an assignment notification to the new assignee. This endpoint does NOT update the document content; to write new content, use the document versions endpoint.",
        "tags": ["Documents"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Document UUID or slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "description": "New title for the document."
                  },
                  "status": {
                    "description": "New lifecycle status. The valid vocabulary depends on the document's `type`: a FEATURE artifact uses the Features vocabulary (`IssueStatus`), while every other type uses the Documents vocabulary (`DocumentStatus`). A status outside the target artifact's vocabulary is rejected.",
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/DocumentStatus"
                      },
                      {
                        "$ref": "#/components/schemas/IssueStatus"
                      }
                    ]
                  },
                  "priority": {
                    "$ref": "#/components/schemas/Priority"
                  },
                  "dueDate": {
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "date"
                      },
                      {
                        "type": "string",
                        "format": "date-time"
                      }
                    ],
                    "nullable": true,
                    "description": "Due date for the document. Pass null to clear. Accepts a date-only value (YYYY-MM-DD) or a timezone-qualified datetime."
                  },
                  "assigneeId": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true,
                    "description": "UUID of the user to assign. Pass null to unassign."
                  },
                  "approverId": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true,
                    "description": "UUID of the designated approver. Pass null to clear."
                  },
                  "projectId": {
                    "type": "string",
                    "description": "Move the document to a different project (UUID or slug)."
                  },
                  "sortOrder": {
                    "type": "number",
                    "nullable": true,
                    "description": "Numeric sort position within a list."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "Optional file name association."
                  },
                  "customFields": {
                    "type": "object",
                    "description": "Custom field values keyed by custom field definition UUID. Each value is a string (max 10000 characters), a number, an array of UUIDs (enum option ids for select fields, or user ids for people fields, max 100), or null to clear the field.",
                    "propertyNames": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "additionalProperties": {
                      "oneOf": [
                        {
                          "type": "string",
                          "maxLength": 10000
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "maxItems": 100
                        }
                      ],
                      "nullable": true
                    }
                  }
                }
              },
              "example": {
                "status": "IN_REVIEW",
                "dueDate": "2024-02-01",
                "assigneeId": "user_345"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Document"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, or a `status` outside the target artifact's vocabulary (a `DocumentStatus` value on a FEATURE, or an `IssueStatus` value on a non-FEATURE document).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Document not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDocument",
        "summary": "Delete a document",
        "description": "Permanently deletes a document and all its versions. This action cannot be undone. Requires an API key with `delete` scope.",
        "tags": ["Documents"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Document UUID or slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "type": "object",
                      "required": ["deleted"],
                      "properties": {
                        "deleted": {
                          "type": "boolean",
                          "enum": [true]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Document not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{id}/threads": {
      "get": {
        "operationId": "listDocumentThreads",
        "summary": "List comment threads on a document",
        "description": "Returns all comment threads attached to the specified document. Each thread contains one or more comments. Threads have a `status` of OPEN (active discussion) or RESOLVED (closed discussion). Use `?status=OPEN` to fetch only active threads, or `?status=RESOLVED` to fetch closed ones. Omit `status` to get all threads regardless of state.",
        "tags": ["Comment Threads"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Document UUID or slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter threads by status. OPEN = active discussions, RESOLVED = closed discussions. Omit to return all threads.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["OPEN", "RESOLVED"]
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Filter threads by source. NATIVE = threads created via this API, LIVEBLOCKS = inline collaborative comments, GITHUB = mirrored GitHub PR comments (both issue-level comments and inline review comments). Omit to return all threads regardless of source.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["NATIVE", "LIVEBLOCKS", "GITHUB"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of comment threads with their comments.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/CommentThread"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "comments": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/Comment"
                                },
                                "description": "All comments in this thread, ordered by creation time."
                              },
                              "resolvedBy": {
                                "allOf": [
                                  {
                                    "$ref": "#/components/schemas/BasicUser"
                                  }
                                ],
                                "nullable": true,
                                "description": "The user who resolved the thread, if resolved."
                              },
                              "createdBy": {
                                "allOf": [
                                  {
                                    "$ref": "#/components/schemas/BasicUser"
                                  }
                                ],
                                "nullable": true,
                                "description": "The user who created the thread, if known."
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "thread_abc",
                      "organizationId": "org_xyz",
                      "source": "LIVEBLOCKS",
                      "metadata": {
                        "resolved": false,
                        "anchorStatus": "artifact-level",
                        "version": 3
                      },
                      "artifactId": "doc_abc123",
                      "status": "OPEN",
                      "createdById": "user_111",
                      "createdAt": "2024-01-16T10:00:00Z",
                      "updatedAt": "2024-01-16T10:05:00Z",
                      "resolvedBy": null,
                      "createdBy": null,
                      "comments": [
                        {
                          "id": "comment_001",
                          "threadId": "thread_abc",
                          "authorId": "user_111",
                          "body": {
                            "type": "doc",
                            "content": []
                          },
                          "plainText": "This section needs clarification on the auth flow.",
                          "createdAt": "2024-01-16T10:00:00Z",
                          "updatedAt": "2024-01-16T10:00:00Z"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Document not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createDocumentThread",
        "summary": "Create a comment thread on a document",
        "description": "Creates a new comment thread on the specified document. When `anchorText` is provided, the thread is anchored to a specific piece of document text. When `anchorText` is omitted, the thread is created as an unanchored artifact-level document comment. The first comment is provided as `body`. The thread will have OPEN status until explicitly resolved.",
        "tags": ["Comment Threads"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Document UUID or slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["body"],
                "properties": {
                  "body": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Text content of the first comment in the thread."
                  },
                  "anchorText": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The snippet of document text this thread is anchored to. Used to associate the thread with a specific section. Optional — omit it to create an unanchored, document-level note."
                  }
                }
              },
              "example": {
                "body": "This section is unclear — can we add more detail about the token refresh strategy?",
                "anchorText": "Token refresh will be handled automatically by the client SDK."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Thread and first comment created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "type": "object",
                      "required": ["threadId", "commentId"],
                      "properties": {
                        "threadId": {
                          "type": "string",
                          "description": "ID of the newly created comment thread."
                        },
                        "commentId": {
                          "type": "string",
                          "description": "ID of the first comment in the thread."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "threadId": "thread_new123",
                    "commentId": "comment_new456"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Document not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{id}/threads/{threadId}/replies": {
      "post": {
        "operationId": "replyToDocumentThread",
        "summary": "Reply to a document comment thread",
        "description": "Adds a reply comment to an existing document comment thread. Anyone with view access to the document may reply — commenting is not gated on edit access. Replies are flat: every reply attaches to the thread rather than to another comment.",
        "tags": ["Comment Threads"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Document UUID or slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "Liveblocks external id of the comment thread.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["body"],
                "properties": {
                  "body": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10000,
                    "description": "Text content of the reply."
                  }
                }
              },
              "example": {
                "body": "Agreed — I'll add a diagram for the refresh flow."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reply created and projected.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "type": "object",
                      "required": ["threadId", "commentId"],
                      "properties": {
                        "threadId": {
                          "type": "string",
                          "description": "External id of the thread the reply was added to."
                        },
                        "commentId": {
                          "type": "string",
                          "description": "External id of the newly created reply comment."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body (empty or too large).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Document or thread not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{id}/threads/{threadId}/resolve": {
      "post": {
        "operationId": "resolveDocumentThread",
        "summary": "Resolve a document comment thread",
        "description": "Marks a document comment thread as resolved. PARTICIPANT-resolve: the thread author or anyone who replied to the thread (a participant) may resolve it; any other caller receives 403. Resolution is enforced server-side, not only in the UI.",
        "tags": ["Comment Threads"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Document UUID or slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "Liveblocks external id of the comment thread.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thread resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "type": "object",
                      "required": ["status"],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": ["OPEN", "RESOLVED"],
                          "description": "The thread's status after the mutation."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The caller is neither the thread author nor a participant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Document or thread not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{id}/threads/{threadId}/unresolve": {
      "post": {
        "operationId": "unresolveDocumentThread",
        "summary": "Reopen a resolved document comment thread",
        "description": "Reopens (unresolves) a previously resolved document comment thread. AUTHOR ONLY: only the thread creator may reopen it; any other caller — including a non-author participant who could resolve it — receives 403. This is intentionally stricter than the resolve endpoint, which allows any participant. Enforced server-side.",
        "tags": ["Comment Threads"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Document UUID or slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "Liveblocks external id of the comment thread.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thread reopened.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "type": "object",
                      "required": ["status"],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": ["OPEN", "RESOLVED"],
                          "description": "The thread's status after the mutation."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The caller is not the thread author.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Document or thread not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/artifact-links": {
      "get": {
        "operationId": "listArtifactLinks",
        "summary": "List artifact links",
        "description": "Returns links associated with the specified artifact. Links represent directional relationships between artifacts: **PRODUCES** means the source artifact generated or produced the target (e.g., a PRD PRODUCES an IMPLEMENTATION_PLAN), **BLOCKS** means the source is blocking progress on the target, **RELATES_TO** is a general non-hierarchical association. Use `direction` to control which end of the link the query artifact appears on: `source` returns links where the artifact is the source, `target` returns links where it is the target, `both` (default) returns all links regardless of direction. Use `mode=tree` with `maxDepth` to traverse multi-level dependency chains (e.g., PRD → PLAN → FEATUREs).",
        "tags": ["Artifact Links"],
        "parameters": [
          {
            "name": "artifactId",
            "in": "query",
            "description": "UUID or slug of the artifact to query links for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkType",
            "in": "query",
            "description": "Filter by link type. PRODUCES = source produced target, BLOCKS = source blocks target, RELATES_TO = general relationship.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/LinkType"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Which role the query artifact plays. `source` = artifact is the source of the link, `target` = artifact is the target, `both` = either role (default).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["source", "target", "both"],
              "default": "both"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Query mode. `direct` = only immediate links (default), `tree` = recursively traverse the link graph up to `maxDepth` levels.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["direct", "tree"],
              "default": "direct"
            }
          },
          {
            "name": "maxDepth",
            "in": "query",
            "description": "Maximum depth when `mode=tree`. Range 1–50, default 10.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of artifact links.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ArtifactLink"
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "link_001",
                      "organizationId": "org_xyz",
                      "sourceId": "doc_prd_456",
                      "targetId": "doc_plan_789",
                      "linkType": "PRODUCES",
                      "metadata": null,
                      "createdAt": "2024-01-15T12:00:00Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Artifact not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createArtifactLink",
        "summary": "Create an artifact link",
        "description": "Requires an API key with `write` scope. Creates a directional link between two artifacts. Use this to establish relationships such as: a PRD PRODUCES an IMPLEMENTATION_PLAN (`sourceId=prd, targetId=plan, linkType=PRODUCES`), a blocking dependency between two plans (`linkType=BLOCKS`), or a general association (`linkType=RELATES_TO`). The `sourceId` and `targetId` accept UUIDs or slugs of any artifact type (documents, branches, etc.). Duplicate (sourceId, targetId, linkType) tuples are rejected.",
        "tags": ["Artifact Links"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["sourceId", "targetId", "linkType"],
                "properties": {
                  "sourceId": {
                    "type": "string",
                    "description": "UUID or slug of the source artifact (the artifact that produces, blocks, or relates from)."
                  },
                  "targetId": {
                    "type": "string",
                    "description": "UUID or slug of the target artifact (the artifact that is produced, blocked, or related to)."
                  },
                  "linkType": {
                    "$ref": "#/components/schemas/LinkType"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true,
                    "description": "Optional JSON metadata to attach to the link."
                  }
                }
              },
              "example": {
                "sourceId": "doc_prd_456",
                "targetId": "doc_plan_789",
                "linkType": "PRODUCES"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Artifact link created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "$ref": "#/components/schemas/ArtifactLink"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "link_new001",
                    "organizationId": "org_xyz",
                    "sourceId": "doc_prd_456",
                    "targetId": "doc_plan_789",
                    "linkType": "PRODUCES",
                    "metadata": null,
                    "createdAt": "2024-01-17T09:00:00Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Source or target artifact not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "description": "Returns all projects belonging to the authenticated organization. Projects are the top-level containers for workstreams, documents, and repositories. By default, ARCHIVED projects are excluded. Use `status` to override — pass `status=ARCHIVED` to see archived projects, or `status=IN_PROGRESS,NOT_STARTED` (comma-delimited) to see multiple statuses. Use `excludeStatus` to exclude specific statuses. Optionally filter by `teamId` to see only projects associated with a particular team.",
        "tags": ["Projects"],
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "Filter to projects associated with this team UUID.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Comma-delimited list of statuses to include. NOT_STARTED, IN_PROGRESS, COMPLETED, ARCHIVED. Defaults to all statuses except ARCHIVED.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "IN_PROGRESS,NOT_STARTED"
          },
          {
            "name": "excludeStatus",
            "in": "query",
            "description": "Comma-delimited list of statuses to exclude.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of projects to return (1–100). Only applied when `teamId` is provided.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "proj_123",
                      "organizationId": "org_xyz",
                      "name": "Platform Redesign",
                      "description": "Full redesign of the core platform.",
                      "priority": "HIGH",
                      "status": "IN_PROGRESS",
                      "createdById": "user_111",
                      "settings": {},
                      "createdAt": "2024-01-01T00:00:00Z",
                      "updatedAt": "2024-01-15T10:00:00Z"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a project",
        "description": "Creates a new project in the authenticated organization. Only `name` is required; `priority`, `status`, `assigneeId`, `slug`, `targetDate`, and `teamIds` are optional. The response includes full project details (completion percentage, teams, custom fields). Requires the `write` scope.",
        "tags": ["Projects"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Project name."
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional description."
                  },
                  "priority": {
                    "$ref": "#/components/schemas/Priority"
                  },
                  "status": {
                    "$ref": "#/components/schemas/ProjectStatus"
                  },
                  "assigneeId": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true,
                    "description": "UUID of the assignee."
                  },
                  "slug": {
                    "type": "string",
                    "nullable": true,
                    "description": "Optional URL-friendly slug."
                  },
                  "targetDate": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true,
                    "description": "Optional target completion date (ISO-8601)."
                  },
                  "teamIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "Teams to associate with the project."
                  }
                }
              },
              "example": {
                "name": "Platform Redesign",
                "priority": "HIGH",
                "status": "IN_PROGRESS",
                "teamIds": ["7c9e6679-7425-40de-944b-e07fc1f90ae7"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created project.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Project"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "proj_123",
                    "organizationId": "org_xyz",
                    "name": "Platform Redesign",
                    "description": "Full redesign of the core platform.",
                    "priority": "HIGH",
                    "status": "IN_PROGRESS",
                    "assigneeId": "user_222",
                    "createdById": "user_111",
                    "slug": "platform-redesign",
                    "targetDate": "2024-06-30T00:00:00.000Z",
                    "codebaseSummary": null,
                    "lastIndexedAt": null,
                    "settings": {},
                    "sortOrder": 0,
                    "createdAt": "2024-01-01T00:00:00Z",
                    "updatedAt": "2024-01-15T10:00:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The API key lacks the `write` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get a project",
        "description": "Retrieves full details for a single project by UUID or slug. The response includes the project metadata, settings, and any associated teams. Use this to look up a project's current status, assignee, target date, and repository defaults before creating workstreams or documents.",
        "tags": ["Projects"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Project UUID or slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project detail.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Project"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "proj_123",
                    "organizationId": "org_xyz",
                    "name": "Platform Redesign",
                    "priority": "HIGH",
                    "status": "IN_PROGRESS",
                    "createdById": "user_111",
                    "settings": {
                      "defaultRepository": {
                        "repoId": "repo_abc123",
                        "repoFullName": "myorg/myrepo",
                        "branch": "main"
                      }
                    },
                    "createdAt": "2024-01-01T00:00:00Z",
                    "updatedAt": "2024-01-15T10:00:00Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Project not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateProject",
        "summary": "Update a project",
        "description": "Updates a project by UUID or slug. All fields are optional — only the supplied fields change. `settings` accepts a free-form JSON object (known keys such as `repositoryOverrides` are shape-validated). `customFields` maps custom-field UUIDs to values. Requires the `write` scope.",
        "tags": ["Projects"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Project UUID or slug.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "description": {
                    "type": "string"
                  },
                  "priority": {
                    "$ref": "#/components/schemas/Priority"
                  },
                  "status": {
                    "$ref": "#/components/schemas/ProjectStatus"
                  },
                  "assigneeId": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  },
                  "targetDate": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  },
                  "teamIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "settings": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Free-form project settings."
                  },
                  "codebaseSummary": {
                    "type": "string",
                    "nullable": true
                  },
                  "customFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Map of custom-field UUID to value."
                  }
                }
              },
              "example": {
                "status": "COMPLETED",
                "priority": "MEDIUM"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated project.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Project"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "proj_123",
                    "organizationId": "org_xyz",
                    "name": "Platform Redesign",
                    "description": "Full redesign of the core platform.",
                    "priority": "MEDIUM",
                    "status": "COMPLETED",
                    "assigneeId": "user_222",
                    "createdById": "user_111",
                    "slug": "platform-redesign",
                    "targetDate": "2024-06-30T00:00:00.000Z",
                    "codebaseSummary": null,
                    "lastIndexedAt": null,
                    "settings": {},
                    "sortOrder": 0,
                    "createdAt": "2024-01-01T00:00:00Z",
                    "updatedAt": "2024-01-15T10:00:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The API key lacks the `write` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Project not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteProject",
        "summary": "Delete a project",
        "description": "Deletes a project by UUID or slug. Requires the `delete` scope.",
        "tags": ["Projects"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Project UUID or slug.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The project was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "type": "object",
                      "required": ["deleted"],
                      "properties": {
                        "deleted": {
                          "type": "boolean",
                          "enum": [true]
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "deleted": true
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The API key lacks the `delete` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Project not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/loops": {
      "get": {
        "operationId": "listLoops",
        "summary": "List loops",
        "description": "Returns loops visible to the authenticated organization, most recent first. A **loop** is a single autonomous agent run against a document and/or repository. Filter by `status`, `command`, `documentId` (UUID or slug), or `projectId` (UUID or slug), and paginate with `limit`/`offset`. Requires the `read` scope.",
        "tags": ["Loops"],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by loop status.",
            "schema": {
              "$ref": "#/components/schemas/LoopStatus"
            }
          },
          {
            "name": "command",
            "in": "query",
            "required": false,
            "description": "Filter by loop command.",
            "schema": {
              "$ref": "#/components/schemas/LoopCommand"
            }
          },
          {
            "name": "documentId",
            "in": "query",
            "required": false,
            "description": "Filter by document. Accepts a UUID or slug.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "description": "Filter by project. Accepts a UUID or slug.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum loops to return (1–200, default 50).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of loops to skip.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of loops.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LoopWithUser"
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "b4b1e5f2-0c3a-4d21-9a77-2f0c8a1e4d90",
                      "organizationId": "org_xyz",
                      "userId": "user_111",
                      "status": "COMPLETED",
                      "command": "EXECUTE",
                      "harness": "claude",
                      "documentId": "doc_abc123",
                      "parentLoopId": null,
                      "computeTargetId": null,
                      "prompt": null,
                      "repo": {
                        "fullName": "myorg/myrepo",
                        "branch": "feat/auth"
                      },
                      "prUrl": "https://github.com/myorg/myrepo/pull/42",
                      "prNumber": 42,
                      "branchName": "feat/auth",
                      "sessionId": null,
                      "tokensInput": 128000,
                      "tokensOutput": 24000,
                      "estimatedCost": 1.87,
                      "startedAt": "2024-01-15T10:00:00Z",
                      "completedAt": "2024-01-15T10:14:32Z",
                      "error": null,
                      "documentVersion": 3,
                      "metadata": {},
                      "createdAt": "2024-01-15T09:59:58Z",
                      "updatedAt": "2024-01-15T10:14:32Z",
                      "user": {
                        "id": "user_111",
                        "firstName": "Ada",
                        "lastName": "Lovelace",
                        "avatarUrl": null,
                        "email": "ada@example.com"
                      },
                      "computeTarget": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing or insufficient `read` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The supplied documentId/projectId could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createLoop",
        "summary": "Create a loop",
        "description": "Creates a loop record in the `PENDING` state. This **does not launch** the loop — it only persists the record. To create *and* launch a loop, use `POST /documents/{id}/run-loop` instead. `documentId` accepts a UUID or slug and is resolved to the canonical document. Requires the `write` scope.",
        "tags": ["Loops"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["command"],
                "properties": {
                  "command": {
                    "$ref": "#/components/schemas/LoopCommand"
                  },
                  "harness": {
                    "type": "string",
                    "enum": ["claude", "codex"],
                    "description": "Optional harness override."
                  },
                  "documentId": {
                    "type": "string",
                    "description": "Document to attach the loop to. UUID or slug."
                  },
                  "prompt": {
                    "type": "string",
                    "maxLength": 100000,
                    "description": "Optional prompt for the loop."
                  },
                  "repo": {
                    "$ref": "#/components/schemas/LoopRepo"
                  },
                  "additionalRepos": {
                    "type": "array",
                    "maxItems": 5,
                    "description": "Up to 5 additional repositories.",
                    "items": {
                      "$ref": "#/components/schemas/LoopRepo"
                    }
                  },
                  "contextRefs": {
                    "type": "array",
                    "maxItems": 20,
                    "description": "Up to 20 context references to attach to the loop.",
                    "items": {
                      "type": "object",
                      "required": ["sourceId", "include"],
                      "properties": {
                        "sourceId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "sourceType": {
                          "type": "string",
                          "enum": ["DOCUMENT"]
                        },
                        "include": {
                          "type": "string",
                          "enum": ["full", "summary"]
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "command": "EXECUTE",
                "documentId": "PLN-88",
                "prompt": "Implement the login form."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created loop.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "$ref": "#/components/schemas/CreateLoopResponse"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "loopId": "b4b1e5f2-0c3a-4d21-9a77-2f0c8a1e4d90",
                    "status": "PENDING"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The API key lacks the `write` scope, or the repository is not allowed for this organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The supplied documentId could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A loop is already active for this document (`loop_already_active`), or a manual loop cannot be nested. The `loop_already_active` body carries a typed `data` object with the existing `loopId`, `command`, and `status` so callers can recover by reusing the active loop.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/LoopAlreadyActiveConflict"
                    },
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested repository is not in the project's repository pool.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "The organization's concurrent-loop limit has been reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/loops/{id}": {
      "get": {
        "operationId": "getLoop",
        "summary": "Get a loop",
        "description": "Retrieves a single loop by UUID, including PR-enriched additional repositories, primary branch/PR projections, and any uploaded support artifacts. Requires the `read` scope.",
        "tags": ["Loops"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Loop UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The loop detail.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "$ref": "#/components/schemas/LoopWithUser"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "b4b1e5f2-0c3a-4d21-9a77-2f0c8a1e4d90",
                    "organizationId": "org_xyz",
                    "userId": "user_111",
                    "status": "COMPLETED",
                    "command": "EXECUTE",
                    "harness": "claude",
                    "documentId": "doc_abc123",
                    "parentLoopId": null,
                    "computeTargetId": null,
                    "prompt": null,
                    "repo": {
                      "fullName": "myorg/myrepo",
                      "branch": "feat/auth"
                    },
                    "prUrl": "https://github.com/myorg/myrepo/pull/42",
                    "prNumber": 42,
                    "branchName": "feat/auth",
                    "sessionId": null,
                    "tokensInput": 128000,
                    "tokensOutput": 24000,
                    "estimatedCost": 1.87,
                    "startedAt": "2024-01-15T10:00:00Z",
                    "completedAt": "2024-01-15T10:14:32Z",
                    "error": null,
                    "documentVersion": 3,
                    "metadata": {},
                    "createdAt": "2024-01-15T09:59:58Z",
                    "updatedAt": "2024-01-15T10:14:32Z",
                    "user": {
                      "id": "user_111",
                      "firstName": "Ada",
                      "lastName": "Lovelace",
                      "avatarUrl": null,
                      "email": "ada@example.com"
                    },
                    "computeTarget": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing or insufficient `read` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Loop not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateLoop",
        "summary": "Update a loop's metadata",
        "description": "Updates the `prUrl`, `branchName`, and/or `summary` on a loop. **Only `MANUAL` loops may be updated** — any other command returns `403`. Used by the MCP `complete-loop` tool to record final state on manual loops. Requires the `write` scope.",
        "tags": ["Loops"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Loop UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "prUrl": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2048,
                    "description": "URL of the pull request the loop produced."
                  },
                  "branchName": {
                    "type": "string",
                    "description": "Name of the branch the loop worked on."
                  },
                  "summary": {
                    "type": "string",
                    "maxLength": 10000,
                    "description": "Free-form summary of the loop's result."
                  }
                }
              },
              "example": {
                "prUrl": "https://github.com/myorg/myrepo/pull/42",
                "branchName": "feat/auth",
                "summary": "Added the login form and tests."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated loop.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Loop"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
[...]
